<!DOCTYPE html><!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('footerAbout')}">your singal blog.</a>  &nbsp;   • &nbsp;
        Powered by <a href="https://github.com/renjiahua945/blog" target="_blank"
                      th:text="${configurations.get('footerCopyRight')}">2018 敲代码的长腿毛欧巴</a><br/>
        ICP <a th:text="${configurations.get('footerICP')}">浙ICP备 xxxxxx-x号</a>
    </div>
</footer>
</html>