<!DOCTYPE html><!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment">
    <meta charset="utf-8">
    <title th:text="|${configurations.get('websiteName')} - ${pageName}|">主页</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Window-target" content="_top"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
</head>
<nav th:fragment="nav-fragment" class="navbar navbar-default navbar-custom am-topbar-fixed-top am-topbar">
    <div style="background-color: #ffffff;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll am-link-muted" style="height: 15%;">
                <button type="button" class="navbar-toggle" data-for="toggle-items">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#000000;" href="/" th:text="${configurations.get('websiteName')}">
                </a>
            </div>

            <div class="navbar-collapse" id="toggle-items" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a style="color:#000000;" th:href="@{/index}">主页</a>
                    </li>
                    <li>
                        <a style="color:#000000;" th:href="@{/link}">友链</a>
                    </li>
                    <li>
                        <a style="color:#000000;" th:href="@{/about}">关于</a>
                    </li>
                    <li>
                        <a style="color:#000000;" href="https://github.com/renjiahua945/blog/blog">GitHub</a>
                    </li>
                </ul>
            </div>
    </div>

        <script th:src="@{/blog/default/js/jquery.min.js}"></script>
        <script>
            $(function () {
                $('.navbar-toggle').click(function () {
                    $('#toggle-items').fadeToggle("fast");
                });
            })
        </script>
    </div>
    <!-- /.container -->
</nav>
<header th:fragment="header-fragment">
    <div style="height: 10%; padding-top:2%;">&nbsp;</div>
</header>

</html>