<!DOCTYPE html><!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment"></head>
<body id="blog">
<div th:replace="blog/amaze/header::nav-fragment"></div>
<div th:replace="blog/amaze/header::header-fragment"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div th:replace="blog/amaze/blog-list::blog-list-fragment"></div>
    <div th:replace="blog/amaze/side::side-fragment"></div>
</div>
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
<script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/blog/plugins/search/search.js}"></script>
<script>
    $(function() {
        var a_idx = 0,
            b_idx = 0;
        c_idx = 0;
        jQuery(document).ready(function($) {
            $("body").click(function(e) {
                var a = new Array("mysql", "idea", "redis", "thymeleaf", "amaze", "java", "echart", "chrome", "springboot", "mybatis", "localhost", "443"),
                    b = new Array("#09ebfc", "#ff6651", "#ffb351", "#51ff65", "#5197ff", "#a551ff", "#ff51f7", "#ff518e", "#ff5163", "#efff51"),
                    c = new Array("12", "12", "12", "12", "12", "12", "12", "12", "12", "12");
                var $i = $("<span/>").text(a[a_idx]);
                a_idx = (a_idx + 1) % a.length;
                b_idx = (b_idx + 1) % b.length;
                c_idx = (c_idx + 1) % c.length;
                var x = e.pageX,
                    y = e.pageY;
                $i.css({
                    "z-index": 999,
                    "top": y - 20,
                    "left": x,
                    "position": "absolute",
                    "font-weight": "bold",
                    "font-size": c[c_idx] + "px",
                    "color": b[b_idx]
                });
                $("body").append($i);
                $i.animate({
                    "top": y - 180,
                    "opacity": 0
                }, 1500, function() {
                    $i.remove();
                });
            });
        });
        var _hmt = _hmt || [];
    })
</script>

</html>