<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.javafan.blog.repository.BlogTagRelationMapper">
  <resultMap id="BaseResultMap" type="club.javafan.blog.domain.BlogTagRelation">
    <!--@mbg.generated-->
    <!--@Table tb_blog_tag_relation-->
    <id column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="blog_id" jdbcType="BIGINT" property="blogId" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    relation_id, blog_id, tag_id, create_time
  </sql>
  <select id="selectByExample" parameterType="club.javafan.blog.domain.example.BlogTagRelationExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_blog_tag_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_blog_tag_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_blog_tag_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="club.javafan.blog.domain.example.BlogTagRelationExample">
    <!--@mbg.generated-->
    delete from tb_blog_tag_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="relation_id" keyProperty="relationId" parameterType="club.javafan.blog.domain.BlogTagRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_blog_tag_relation (blog_id, tag_id, create_time
      )
    values (#{blogId,jdbcType=BIGINT}, #{tagId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="relation_id" keyProperty="relationId" parameterType="club.javafan.blog.domain.BlogTagRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_blog_tag_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        #{blogId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="club.javafan.blog.domain.example.BlogTagRelationExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from tb_blog_tag_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update tb_blog_tag_relation
    <set>
      <if test="record.relationId != null">
        relation_id = #{record.relationId,jdbcType=BIGINT},
      </if>
      <if test="record.blogId != null">
        blog_id = #{record.blogId,jdbcType=BIGINT},
      </if>
      <if test="record.tagId != null">
        tag_id = #{record.tagId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update tb_blog_tag_relation
    set relation_id = #{record.relationId,jdbcType=BIGINT},
      blog_id = #{record.blogId,jdbcType=BIGINT},
      tag_id = #{record.tagId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="club.javafan.blog.domain.BlogTagRelation">
    <!--@mbg.generated-->
    update tb_blog_tag_relation
    <set>
      <if test="blogId != null">
        blog_id = #{blogId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.javafan.blog.domain.BlogTagRelation">
    <!--@mbg.generated-->
    update tb_blog_tag_relation
    set blog_id = #{blogId,jdbcType=BIGINT},
      tag_id = #{tagId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" parameterType="java.util.List">
    INSERT into tb_blog_tag_relation(blog_id,tag_id)
    VALUES
    <foreach collection="relationList" item="item" separator=",">
      (#{item.blogId,jdbcType=BIGINT},#{item.tagId,jdbcType=INTEGER})
    </foreach>
  </insert>
  <delete id="batchDelete">
    delete from tb_blog_tag_relation
    where blog_id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <select id="selectDistinctTagIds" resultType="java.lang.Long">
    select
    DISTINCT(tag_id)
    from tb_blog_tag_relation
    where tag_id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>
</mapper>